.result-container {
    margin-top: 10px;
    background-color: rgb(197, 197, 197);
}

.results-p {
    padding-top: 8px;
}

.url {
    font-size: 16px;
    color: black;
    padding: 3px;
    margin-top: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

img {
    padding-bottom: 10px;
}

.default {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.url:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}